<section class="section bg-color-light section-padding">
  <div class="container">
    <div class="section-heading mb-0">
      <span class="subtitle">Pricing Plan</span>
      <h2 class="title">Find the Right Plan.</h2>
      <p>Flexible pricing options for freelancers <br /> and design teams.</p>
    </div>
    <div class="pricing-billing-duration">
      <ul>
        <li class="nav-item">
          <button class="nav-link" id="yearly-plan-btn" type="button">Billed
            yearly</button>
        </li>
        <li class="nav-item">
          <button class="nav-link active" id="monthly-plan-btn" type="button">
            Billed monthly</button>
        </li>
      </ul>
    </div>
    <div class="row">
      <div
        class="col-lg-4"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="100"
      >
        <div class="pricing-table active">
          <div class="pricing-header">
            <h3 class="title">Professional</h3>
            <span class="subtitle">A beautiful, simple website</span>
            <div class="price-wrap">
              <div class="yearly-pricing">
                <span class="amount">$119.99</span>
                <span class="duration">/yearly</span>
              </div>
              <div class="monthly-pricing">
                <span class="amount">$19.00</span>
                <span class="duration">/monthly</span>
              </div>
            </div>
            <div class="pricing-btn">
              <a href="#" class="axil-btn btn-large btn-borderd">Get Started
                Today</a>
            </div>
          </div>
          <div class="pricing-body">
            <ul class="list-unstyled">
              <li>10 Pages Responsive Website</li>
              <li>5 PPC Campaigns</li>
              <li>10 SEO Keywords</li>
              <li>5 Facebook Camplaigns</li>
              <li>2 Video Camplaigns</li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="200"
      >
        <div class="pricing-table">
          <div class="pricing-header">
            <h3 class="title">Standard</h3>
            <span class="subtitle">Small Team</span>
            <div class="price-wrap">
              <div class="yearly-pricing">
                <span class="amount">$219.99</span>
                <span class="duration">/yearly</span>
              </div>
              <div class="monthly-pricing">
                <span class="amount">$29.00</span>
                <span class="duration">/monthly</span>
              </div>
            </div>
            <div class="pricing-btn">
              <a href="#" class="axil-btn btn-large btn-borderd">Get Started
                Today</a>
            </div>
          </div>
          <div class="pricing-body">
            <ul class="list-unstyled">
              <li>50 Pages Responsive Website</li>
              <li>Unlimited PPC Campaigns</li>
              <li>Unlimited SEO Keywords</li>
              <li>Unlimited Facebook Camplaigns</li>
              <li>Unlimited Video Camplaigns</li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4"
        data-sal="slide-up"
        data-sal-duration="800"
        data-sal-delay="300"
      >
        <div class="pricing-table">
          <div class="pricing-header">
            <h3 class="title">Ultimate</h3>
            <span class="subtitle">Large Team</span>
            <div class="price-wrap">
              <div class="yearly-pricing">
                <span class="amount">$559.99</span>
                <span class="duration">/yearly</span>
              </div>
              <div class="monthly-pricing">
                <span class="amount">$59.00</span>
                <span class="duration">/monthly</span>
              </div>
            </div>
            <div class="pricing-btn">
              <a href="#" class="axil-btn btn-large btn-borderd">Get Started
                Today</a>
            </div>
          </div>
          <div class="pricing-body">
            <ul class="list-unstyled">
              <li>10 Pages Responsive Website</li>
              <li>5 PPC Campaigns</li>
              <li>10 SEO Keywords</li>
              <li>5 Facebook Camplaigns</li>
              <li>2 Video Camplaigns</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="shape-group-3 list-unstyled">
    <li class="shape shape-1"><img
        src="assets/media/others/line-1.png"
        alt="shape"
      /></li>
    <li class="shape shape-2"><img
        src="assets/media/others/bubble-4.png"
        alt="shape"
      /></li>
  </ul>
</section>