<section class="section section-padding expert-counterup-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="section-heading heading-left">
          <span class="subtitle">Experts in field</span>
          <h2>What makes us special?</h2>
          <p class="mb--50">In vel varius turpis, non dictum sem. Aenean in
            efficitur ipsum, in egestas ipsum. Mauris in mi ac tellus.</p>
          <a
            href="contact.html"
            class="axil-btn btn-large btn-fill-primary"
          >Careers</a>
        </div>
      </div>
      <div class="col-lg-6 offset-xl-1">
        <div class="row" id="no-equal-gallery">
          <div
            class="col-sm-6 no-equal-item"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-delay="100"
          >
            <div class="counterup-progress counterup-style-2 active">
              <div class="icon">
                <img
                  class="dark-icon"
                  src="/assets/media/icon/icon-10.png"
                  alt="Icon"
                />
                <img
                  class="light-icon"
                  src="/assets/media/icon/icon-7.png"
                  alt="Icon"
                />
              </div>
              <div class="count-number h2">
                <span class="number count" data-count="15">15</span>
                <span class="symbol">+</span>
              </div>
              <h6 class="title">Years of operation</h6>
            </div>
          </div>
          <div
            class="col-sm-6 mt--90 mt_md--0 no-equal-item"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-delay="200"
          >
            <div class="counterup-progress counterup-style-2">
              <div class="icon">
                <img
                  class="dark-icon"
                  src="/assets/media/icon/icon-11.png"
                  alt="Icon"
                />
                <img
                  class="light-icon"
                  src="/assets/media/icon/icon-8.png"
                  alt="Icon"
                />
              </div>
              <div class="count-number h2">
                <span class="number count" data-count="360">360</span>
                <span class="symbol">+</span>
              </div>
              <h6 class="title">Projects deliverd</h6>
            </div>
          </div>
          <div
            class="col-sm-6 no-equal-item"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-delay="300"
          >
            <div class="counterup-progress counterup-style-2">
              <div class="icon">
                <img
                  class="dark-icon"
                  src="/assets/media/icon/icon-12.png"
                  alt="Icon"
                />
                <img
                  class="light-icon"
                  src="/assets/media/icon/icon-9.png"
                  alt="Icon"
                />
              </div>
              <div class="count-number h2">
                <span class="number count" data-count="600">600</span>
                <span class="symbol">+</span>
              </div>
              <h6 class="title">Specialist</h6>
            </div>
          </div>
          <div
            class="col-sm-6 no-equal-item"
            data-sal="slide-up"
            data-sal-duration="800"
            data-sal-delay="400"
          >
            <div class="counterup-progress counterup-style-2">
              <div class="icon">
                <img
                  class="dark-icon"
                  src="/assets/media/icon/apple-black.png"
                  alt="Icon"
                />
                <img
                  class="light-icon"
                  src="/assets/media/icon/apple.png"
                  alt="Icon"
                />
              </div>
              <div class="count-number h2">
                <span class="number count" data-count="64">64</span>
                <span class="symbol">+</span>
              </div>
              <h6 class="title">Years of operation</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>